@import "../../../../variables";
.main-chart {display: flex;align-items: center;justify-content: space-evenly;
  &-item {margin: 50px 0px;
    p {font-size: 44px; margin-bottom: 0px;
      span {font-size: 60px; font-weight: bold;}
    }
  }
  .red{color: $colorRed;}
  .blue{color: $colorBlue;}
}
