@import '../../../variables';
.main-header {width: 50%;height: 40px;background: #272727;line-height: 40px;border-radius: 10px;
  text-align: center;margin: 0 auto;

  p {font-size: 18px; color: $colorWhite;}
}
